<h1>Run for Those Who Can't</h1>

<p> <font size="3" color="purple">Help us meet our goal of running 1 million miles in a year as we raise money for pediatric cancer patients and the therapy dogs that bring them so much joy!</font></p>

<center><img src= "http://cdn1.bigcommerce.com/server800/405ad/products/60/images/1176/Quantum_orange_01__91736.1397066888.1280.1280.jpg?c=2" align="middle" height= "500"></center>

<div align="center">
<font size="200">TOTAL = <%= Run.sum(:distance) %> MILES</font>
</div>
